*{
    padding: 0;
    margin: 0;
}
header{
    height: 40px;
    background-color: #af2024;
    margin-bottom: 20px;
}
body {
    background: url("../images/bg_main.jpg") no-repeat, #3f0002;
    background-size: 100% auto;
}
.logo{
    max-width: 1014px;
    padding: 0 15px;
    margin: 0 auto 0;
    position: relative;
    z-index: 2;

}
.container{
    max-width: 710px;
    margin: auto;
    background-color: white;
    position: relative;
    top: 20px;
    z-index: 2;

}
.video_title{
    background-color: #98161b;
    padding: 27px 18px;
}
.video_title h1{
    color: white;
    font-size: 20px;
}
.container .video_block{
    padding: 62px 74px 105px;
}
.video_block .video{
    background-color: #e7e7e7;
    height: 345px;
    margin-bottom: 30px;
}
.video_block h2{
    font-size: 13px;
    color: #98161b;
    margin-bottom: 20px;
}
.video_block h2 span {
    font-size: 13px;
    color: #7d7d7d;
}
.video_block h2:after{
    display: block;
    content: "........";
    color: #98161b;
    margin-top: 20px;
}
.video_block p{
    display: block;
    font-size: 13px;
    color: #98161b;
    margin-bottom: 20px;
}
.social{
    position: fixed;
    right: 0;
    top: 262px;
    z-index: 3;
}
.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #850409;
    color: white;
    font-size: 33px;
    text-decoration: none;
}
.social a:first-of-type {
    background-color: #850409;
}
.social a:last-of-type {
    background-color: #98161b;
}
footer{
    background-color: black;
    height: 480px;
    position: relative;
    z-index: 1;
}
